* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    gap: 40px;
    
}

section {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;  
}

div {
    height: 150px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 10rem;
    position : relative;
    top : 15px;
    left : 1rem;
}